.processTitle {
  align-self: center;
  width: 85vw;
  font-weight: lighter;
  margin: 0 0 5px 0;
}

.processDate {
  align-self: center;
  width: 85vw;
  color: gray;
  margin: 0 0 20px 0;
}

.processData {
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
}

.processTable {
  border-collapse: collapse;
  width: 65vw;
}

.processTable-header {
  background-color: lightgray;
}

.processTable-header,
.processTable-data {
  border: 1px solid gray;
  text-align: left;
  padding: 12px 20px 12px;
}

.listParts {
  list-style-type: none;
  margin: 12px 12px 0px 12px;
  
}

.headline {
  font-weight: bold;  
  margin-bottom: 25px; 
}

.name {
  color: blue;
  font-size: 0.9em;
}

.caption {
  color: gray;
  font-size: 0.8em;
  margin-top: 0px;
}