.processContainer {
  margin: 1% 0 2%;
}

.processTitle {
  align-self: center;
  width: 85vw;
  font-weight: lighter;
  margin: 0 0 5px 0;
}

.processDate {
  align-self: center;
  width: 85vw;
  color: var(--gray);
  margin: 0 0 20px 0;
}

.processData {
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr;  
}

.processDetails {
  margin: 1% 0 5%;  
}

.listParts {
  list-style-type: none;
  margin: 12px 12px 0px 12px;
}

.headline {
  font-weight: bold;
  margin-bottom: 25px;
}

.name {
  color: var(--blue);
  font-size: 0.9em;
}

.caption {
  color: var(--gray);
  font-size: 0.8em;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .processData {
    grid-template-columns: 1fr 1fr;
    column-gap: 4vw;
  }

  .processTable {    
    width: 60vw;
  }  
}
