.processTitle {
  align-self: center;
  width: 85vw;
  font-weight: lighter;
  margin: 0 0 5px 0;
}

.processDate {
  align-self: center;
  width: 85vw;
  color: gray;
  margin: 0 0 20px 0;
}

.processContainer {
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
}

.processTable {
  border-collapse: collapse;
  width: 55vw;
}

.processTable-header {
  background-color: lightgray;
}

.processTable-header,
.processTable-data {
  border: 1px solid gray;
  text-align: left;
  padding: 12px 20px 12px;
}

.secondColumn {
  border: 1px solid blue;
}
