.processTable {
  border-collapse: collapse;
  width: 100%;
}

.processTable-header {
  background-color: lightgray;
}

.processTable-header,
.processTable-data {
  border: 1px solid gray;
  text-align: left;
  padding: 12px 20px 12px;
}