.processTable {
  border-collapse: collapse;
  width: 100%;
}

.processTable-header {
  background-color: var(--lightgray);
}

.processTable-header,
.processTable-data {
  border: 1px solid var(--gray);
  text-align: left;
  padding: 12px 20px 12px;
}