.searchContainer {
  background-color: lightgray;
  margin: 0% 5% 3%;
  padding: 5% 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  height: 30vh;
  width: 85vw;
  border-radius: 5px;
}

.searchTitle {
  margin: 1% 0 1%;
  font-size: 1.8em;
  text-align: center;
}

.searchParagraph {
  margin: 0 0 1%;
  text-align: center;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 2% 0 1%;  
  width: 100%;
  flex-direction: column;
}

.labelSearch {  
  display: flex;  
  justify-content: center;  
}

.inputSearch {
  border: 1px solid gray;
  height: 6vh;
  max-width: 60vw;  
  font-size: 1em;
  padding: 0 0 0 3%;
  background-color: white;
  border-radius: 5px;
  color: rgb(134, 132, 132);
  align-self: center;
}

.searchBtn {
  height: 6vh;
  font-weight: bolder;
  text-transform: uppercase;
  background: rgb(46, 45, 45);
  color: white;
  width: 25vw;
  font-size: 1em;
  border-radius: 5px;
  border: 0;
  margin: 2% 0 0;
}

.searchBtn:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .searchForm {
    flex-direction: row;
    gap: 2vw;
  }

  .searchBtn {
    margin: 0;
    width: 120px;    
  }
}
