* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 5%;
}

:root {
  --darkgray: rgb(46, 45, 45);
  --white: rgb(230, 224, 224);
  --lightgray: rgb(211, 211, 211);
}
